
@{
    ViewBag.Title = "YeniOgrenci";
    Layout = "~/Views/Shared/Mainlayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Öğrenci Adı</label>
        <input type="text" class="form-control" name="ograd" />

        <label>Öğrenci Soyadı</label>
        <input type="text" class="form-control" name="ogrsoyad" />

        <label>MEZUNİYET</label>
        <input type="text" class="form-control" name="mezuniyet" />

        <label>KREDİ</label>
        <input type="text" class="form-control" name="kredi" />

        <label>BÖLÜM ID</label>
        <input type="text" class="form-control" name="bolumid" />
        <div>
            <button class="btn btn-info">EKLE</button>
        </div>
    </div>
</form>

